{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}


<h1>Kilpailulistaus</h1>

{% if message %}
<div class="alert alert-success">
  <p>{{message}}</p>           
</div>
{% endif %}

<p>
  {% if user_logged_in.usergroup == 'tuomari' %}
  {{forms.add_button("#{base_path}/kilpailu/add", "Lisää kilpailu")}}

  {% elseif user_logged_in.usergroup == 'superuser' %}
  {{forms.add_button("#{base_path}/kilpailu/add", "Lisää kilpailu")}}

  {% else %}
  {% endif %}
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Kilpailun tunnus</th>
      <th>Päivämäärä</th>
      <th>Paikka</th>
      <th>Rasteja</th>
    </tr>
  </thead>

  <tbody>
    {% for kilpailu in kilpailut %}
    <tr>
      <td><a href="{{base_path}}/kilpailu/{{kilpailu.kilpailu_id}}">{{kilpailu.kilpailu_id}}</td>
      <td>{{kilpailu.pvm}}</td>
      <td>{{kilpailu.paikka}}</td>
      <td>{{kilpailu.rastilkm}}</td>
    </tr>
    {% endfor %}
  </tbody> 
</table>
{% endblock %} 
