{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}


<h1>Kilpailu {{kilpailu_id}}</h1>

{% if message %}
<div class="alert alert-success">
  <p>{{message}}</p>           
</div>
{% endif %}

<p>
  {% if user_logged_in.usergroup == 'tuomari' %}
  {{forms.add_button("#{base_path}/rasti/add/#{kilpailu_id}", "Lisää rasti")}}
  {{forms.edit_button("#{base_path}/kilpailu/#{kilpailu_id}/edit")}}


  {% elseif user_logged_in.usergroup == 'superuser' %}
  {{forms.add_button("#{base_path}/rasti/add/#{kilpailu_id}", "Lisää rasti")}}
  {{forms.edit_button("#{base_path}/kilpailu/#{kilpailu_id}/edit")}}
  {{forms.delete_button("#{base_path}/kilpailu/#{kilpailu_id}/delete")}}

  {% else %}
  {% endif %}
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Rasti #</th>
      <th>Tauluja</th>
      <th>Kuvaus</th>
    </tr>
  </thead>

  <tbody>
    {% for rasti in rastit %}
    <tr>
      <td width="10%"><a href="{{base_path}}/rasti/{{rasti.rasti_id}}">{{rasti.rastinro}}</a></td>
      <td width="10%">{{rasti.taululkm}}</td>
      <td width="80%">{{rasti.kuvaus}}</td>
    </tr>
    {% endfor %}
  </tbody> 
</table>

<a class "btn btn-default btn-sm" href="{{base_path}}/kilpailu">Takaisin listaukseen</a>

{% endblock %} 
