{% extends "base.html" %}
{% block content %}
<h1>Kilpailu {{kilpailu_id}}</h1>

<p>
  {% if user_logged_in.usergroup == 'tuomari' %}
  <a href="{{base_path}}/rasti/add/{{kilpailu_id}}" class="btn btn-success">Lisää rasti</a>

  {% elseif user_logged_in.usergroup == 'superuser' %}
  <a href="{{base_path}}/rasti/add/{{kilpailu_id}}" class="btn btn-success">Lisää rasti</a>

  {% else %}
  {% endif %}
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Rasti #</th>
      <th>Tauluja</th>
      <th>Kuvaus</th>
      <th>Nopein aika</th>
      <th>Voittaja</th>
      {% if user_logged_in.usergroup == 'tuomari' %}
      <th></th>

      {% elseif user_logged_in.usergroup == 'superuser' %}
      <th></th>

      {% else %}
      {% endif %}
    </tr>
  </thead>

  <tbody>
    {% for rasti in rastit %}
    <tr>
      <td width="5%"><a href="{{base_path}}/rasti/{{rasti.rasti_id}}">{{rasti.rastinro}}</a></td>
      <td width="5%">{{rasti.taululkm}}</td>
      <td width="40%">{{rasti.kuvaus}}</td>
      <td width="20%"></td>
      <td width="20%"></td>
      {% if user_logged_in.usergroup == 'tuomari' %}
      <td width="5"><a class "btn btn-default btn-sm" href="{{base_path}}/rasti/{{rasti.rasti_id}}/edit">Muokkaa</a></td>

      {% elseif user_logged_in.usergroup == 'superuser' %}
      <td width="5"><a class "btn btn-default btn-sm" href="{{base_path}}/rasti/{{rasti.rasti_id}}/edit">Muokkaa</a></td>

      {% else %}
      {% endif %}
    </tr>
    {% endfor %}
  </tbody> 
</table>

<a class "btn btn-default btn-sm" href="{{base_path}}/kilpailu">Takaisin listaukseen</a>

{% endblock %} 
