{% macro delete_button(action, text) %}
<form method="post" action="{{action}}" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">{{text|default('Poista')}}</button>
</form>
{% endmacro %}

{% macro edit_button(action, text) %}
<form method="post" action="{{action}}" style="display: inline-block;">
	<button type="submit" class="btn btn-primary">{{text|default('Muokkaa')}}</button>
</form>
{% endmacro %}

{% macro add_button(action, text) %}
<form method="post" action="{{action}}" style="display: inline-block;">
	<button type="submit" class="btn btn-success">{{text|default('Lisää')}}</button>
</form>
{% endmacro %}