{% extends "base.html" %}
{% block content %}
  <h1>Kilpailulistaus</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää kilpailu</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Päivämäärä</th>
        <th>Paikka</th>
        <th>Osallistujia</th>
        <th>Rasteja</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>1.8.2017</td>
        <td>Helsinki</td>
        <td>7</td>
        <td>10</td>
        <td><a class="btn btn-default btn-sm" href="#">Näytä</a><a class="btn btn-default btn-sm" href="#">Muokkaa</a></td>
      </tr>
    </tbody>
  </table>
{% endblock %}