{% extends "base.html" %}
{% block content %}
	<h1>Lisää kilpailija</h1>

	<form method="post" action="{{base_path}}/kilpailija">
		<div class="form-group">
			<label>Etunimi</label>
			<input name="etunimi" class="form-control" type="text">
		</div>

		<div class="form-group">
			<label>Sukunimi</label>
			<input name="sukunimi" class="form-control" type="text">
		</div>

		<div class="form-group">
			<label>Käyttäjätunnus</label>
			<input name="kayttajatunnus" class="form-control" type="text">
		</div>

		<div class="form-group">
			<label>Salasana</label>
			<input name="salasana" class="form-control" type="text">
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Lisää</button>
		</div>

	</form>
{% endblock %}