{% extends "base.html" %}
{% block content %}
	<h1>Lisää kilpailija</h1>

	<form method="post" action="{{base_path}}/kilpailija">
		<div class="form-group">
			<label>Etunimi</label>
			<input name="etunimi" class="form-control" type="text">
		</div>

		<div class="form-group">
			<label>Sukunimi</label>
			<input name="sukunimi" class="form-control" type="text">
		</div>

		<div class="form-group">
			<label>Käyttäjätunnus</label>
			<input name="kayttajatunnus" type="text" class="form-control">
		</div>

		<div class="form-group">
			<label>Salasana</label>
			<input type="text" name="salasana" class="form-control">
		</div>

		<div class="form-group">
			<label>Tuomari</label>
			<input type="hidden" name="tuomari" value="0">
			<input type="checkbox" name="tuomari">
		</div>

		<div class="form-group">
			<label>Pääkäyttäjä</label>
			<input type="hidden" name="superuser" value="0">
			<input type="checkbox" name="superuser">
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Lisää</button>
		</div>

	</form>
{% endblock %}