{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

<h1>Kilpailija {{kilpailija.etunimi}} {{kilpailija.sukunimi}}</h1>

{% if message %}
<div class="alert alert-success">
  <p>{{message}}</p>           
</div>
{% endif %}

<p>
  {% if user_logged_in.usergroup == 'tuomari' %}
  {{forms.edit_button("#{base_path}/kilpailija/#{kilpailija.kilpailija_id}/edit")}}


  {% elseif user_logged_in.usergroup == 'superuser' %}
  {{forms.edit_button("#{base_path}/kilpailija/#{kilpailija.kilpailija_id}/edit")}}
  {{forms.delete_button("#{base_path}/kilpailija/#{kilpailija.kilpailija_id}/delete")}}

  {% else %}
  {% endif %}
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>Etunimi</th>
      <th>Sukunimi</th>
      <th>Käyttäjätunnus</th>
      <th>Käyttöoikeudet</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{kilpailija.kilpailija_id}}</td>
      <td>{{kilpailija.etunimi}}</td>
      <td>{{kilpailija.sukunimi}}</td>
      <td>{{kilpailija.kayttajatunnus}}</td>
      <td>{{kilpailija.usergroup}}</td>
    </tr>
  </tbody> 
</table>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Kilpailun tunnus</th>
      <th>Päivämäärä</th>
      <th>Paikka</th>
      <th>Kilpailijoita</th>
    </tr>
  </thead>

  <h2>Osallistutut kilpailut</h2>
  
  <tbody>
    {% for osallistuminen in osallistumiset %}
    <tr>
      <td width="10%"><a href="{{base_path}}/kilpailu/{{osallistuminen.kilpailu}}">{{osallistuminen.kilpailu}}</a></td>
      <td>{{osallistuminen.pvm}}</td>
      <td>{{osallistuminen.paikka}}</td>
      <td>{{osallistuminen.kilpailijalkm}}</td>
    </tr>
    {% endfor %}
  </tbody> 
</table>

<a class "btn btn-default btn-sm" href="{{base_path}}/kilpailija">Takaisin listaukseen</a>

{% endblock %} 