{% extends "base.html" %}
{% block content %}
<h1>Rasti</h1>

<p>
  <a href="{{base_path}}/tulos/add" class="btn btn-success">Lisää tulos</a>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Sukunimi</th>
      <th>Aika</th>
      <th>Pisteet</th>
    </tr>
  </thead>

  <tbody>
    {% for kilpailija in kilpailijat %}
    <tr>
      <td>{{tulos.kilpailija}}</td>
      <td>{{kilpailija.sukunimi}}</td>
      <td>{{tulos.aika}}</td>
      <td>{{tulos.pisteet}}</td>
      <td><a class "btn btn-default btn-sm" href="{{base_path}}/kilpailija/{{kilpailija.kilpailija_id}}/edit">Muokkaa</a></td>
    </tr>
    {% endfor %}
  </tbody> 
</table>
{% endblock %} 