{% extends "base.html" %}
{% block content %}
<h1>Rasti {{rasti.rastinro}}</h1>

<p>
  {% if user_logged_in.usergroup == 'tuomari' %}
  <a href="{{base_path}}/tulos/add" class="btn btn-success">Lisää tulos</a>
  {% elseif user_logged_in.usergroup == 'superuser' %}
  <a href="{{base_path}}/tulos/add" class="btn btn-success">Lisää tulos</a>
  {% else %}
  {% endif %}
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Rasti #</th>
      <th>Kuvaus</th>
      <th>Tauluja</th>
      <th>Kilpailun tunnus</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{rasti.rastinro}}</td>
      <td>{{rasti.kuvaus}}</td>
      <td>{{rasti.taululkm}}</td>
      <td>{{rasti.kilpailu}}</td>
    </tr>
  </tbody> 
</table>
{% endblock %} 