{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

<h1>Rasti {{rasti.rastinro}} kilpailusta {{rasti.kilpailu}}</h1>

{% if message %}
<div class="alert alert-success">
  <p>{{message}}</p>           
</div>
{% endif %}

<p>
  {% if user_logged_in.usergroup == 'tuomari' %}
  {{forms.edit_button("#{base_path}/rasti/#{rasti.rasti_id}/edit")}}


  {% elseif user_logged_in.usergroup == 'superuser' %}
  {{forms.edit_button("#{base_path}/rasti/#{rasti.rasti_id}/edit")}}
  {{forms.delete_button("#{base_path}/rasti/#{rasti.rasti_id}/delete")}}

  {% else %}
  {% endif %}
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Kuvaus</th>
      <th>Tauluja</th>
      <th>Kilpailun tunnus</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{rasti.kuvaus}}</td>
      <td>{{rasti.taululkm}}</td>
      <td>{{rasti.kilpailu}}</td>
    </tr>
  </tbody> 
</table>

<a class "btn btn-default btn-sm" href="{{base_path}}/kilpailu/{{rasti.kilpailu}}">Takaisin listaukseen</a>

{% endblock %} 