{% extends "base.html" %}
{% block content %}
	<h1>Tervetuloa AmmutUlos -järjestelmään</h1>
	
	{% if error %}
  	<div class="alert alert-danger">
    	<p>{{error}}</p>           
  	</div>
	{% endif %}

	{% if user_logged_in %}

	<p>Olet jo kirjautunut, ala selailemaan!</p>

	{% else %}

	<p>Kirjaudu järjestelmään, ole hyvä.</p>
	<p>Voit myös selata tietoja yläreunan linkeistä ilman kirjautumista.</p>
	
	<form method="post" action="{{base_path}}/login">
		<div class="form-group">
			<label>Käyttäjätunnus</label>
			<input class='form-control' type="text" name="kayttajatunnus">
		</div>

		<div class="form-group">
			<label>Salasana</label>
			<input class="form-control" type="password" name="salasana" >
		</div>
		<button type="submit" class="btn btn-primary">Kirjaudu sisään</button>		
	</form>

	{% endif %}

{% endblock %}
